@import '../config';

.container {
	max-width: 1264px;
	width: 100%;
	height: 100%;

	padding: 0 32px;

	margin: 0 auto;

	overflow: hidden;

	@media (max-width: $md) {
		padding: 0 16px;
	}

	&-large {
		max-width: 1920px;
	}

	.container-lg {
		width: 100%;
		max-width: 1920px;

		margin: 0 auto;

		overflow: hidden;

		padding: 0 32px;

		@media  (max-width: $md) {
			padding: 0 16px;
		}
	}
}

ul {
	list-style: none;
}

html, body {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: Formular;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	font-weight: 300;
}

html {
	font-size: 1px;

	@media (max-width: $xl) {
		font-size: 0.95px;
	}

	@media (max-width: $lg) {
		font-size: 0.9px;
	}

	@media (max-width: $md) {
		font-size: 0.85px;
	}
}

body {
	position: relative;
}

.overflow-hidden{
	overflow: hidden;
}

.animation {
	transition: 0.5s all;

	&:hover {
		transition: 0.5s all;
	}

	&:after, &:before {
		transition: 0.5s all;
	}
}

.button {
	cursor: pointer;
	
	display: inline-block;

	border-radius: 6px;
	border: 1px solid #fff;

	font-size: 20px;

	padding: 15.2px 31px 17px;

	color: #fff;

	&:hover {
		background-color: #fff;

		color: #000;
	}

	@media (max-width: $md) {
		padding: 15.2px 15px 17px;

		font-size: 17px;
	}
}

.linkhover {
	position: relative;

	&:after {
		position: absolute;

		content: "";

		width: 0;
		height: 2px;

		bottom: -2px;
		left: 0;

		background-color: #fff;
	}

	&:hover {

		&:after {
			width: 100%;
		}
	}
}

.lines {
	position: relative;

	&:after, &:before {
		content: "";

		position: absolute;

		top: 50%;

		transform: translateY(50%);

		width: 100vh;
		height: 1px;
		background-color: #fff;
		opacity: 0.3;
	}

	&:after {
		left: -36px;
		transform: translateX(-100%);
	}

	&:before {
		right: -36px;
		transform: translateX(100%);
	}
}

.text {
	font-size: 20px;

	@media (max-width: $md) {
		font-size: 18px;
	}
}

.heading {
	width: 100%;
	max-width: 698px;

	margin: 0 auto;

	color: #000;
	font-size: 40px;
	font-weight: 700;

	text-align: center;

	&:after, &:before {
		background-color: #000;
	}

	@media (max-width: $md) {
		max-width: 300px;

		font-size: 30px;
	}
}

.cart {
	width: 100%;

	max-width: 568px;

	margin: 0 auto;

	padding: 0 16px;

	border-radius: 6px;
	border: 1px solid #000;

	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		text-align: center;

		padding: 65px 0;
	}

	&__image {
		margin: 0 0 31px;

		height: 134px;
		width: auto;
	}

	&__text {
		max-width: 290px;
	}
}

.grid {

	&-row {
		height: 100%;

		display: flex;
	}

	&-column {
		height: 100%;

		display: flex;
		flex-direction: column;
	}

	&__col2 {
		flex: 0 0 25%;
	}

	&__col4 {
		flex: 0 0 33.33%;
	}

	&__col6 {
		flex: 0 0 50%;
	}

	&__col8 {
		flex: 0 0 66.66%;
	}

	&__col10 {
		flex: 0 0 75%;
	}

	&__image {
		width: 100%;
		height: 100%;
	}
}

.padding {
	margin: -32px;

	@media (max-width: $xxxl) {
		margin: -16px;
	}

	&__item {
		padding: 32px;

		@media (max-width: $xxxl) {
			padding: 16px;
		}
	}
}

.borderrad {
	border-radius: 6px;

	overflow: hidden;
}

.layer {
	width: 100%;
	height: 100%;

	background-color: rgba( 0, 0, 0, 0.7);

	color: #fff;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;

	opacity: 0;

	&:hover {
		opacity: 1;
	}

	&__body {
		padding: 30px 30px 60px 60px;
	}

	&__heading {
		margin: 0 0 31px;

		color: #fff;

		text-align: left;
	}

	&__text {
		margin: 0 0 64px;
	}

	&__button {

	}
}

.layout {
	position: relative;

	&__wrapper {
		position: absolute;

		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		border-radius: 6px;

		background-color: rgba( 0, 0, 0, 0.7);

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		opacity: 0;

		padding: 64px;

		&:hover {
			opacity: 1;
		}

		@media (max-width: $xxxl) {
			padding: 32px;
		}

		@media (max-width: $lg) {
			opacity: 1;

			background-color: transparent;

			background-image: linear-gradient(to top, rgba( 0, 0, 0, 0.7) 0%, rgba( 0, 0, 0, 0.6) 99px, rgba( 0, 0, 0, 0) 169px);
		}

		@media (max-width: $md) {
			padding: 14px;
		}
	}

	&__body {}
	&__content {}

	&__title {
		color: #fff;

		font-size: 40px;
		font-weight: 700;

		margin: 0 0 28px;

		@media (max-width: $xxl) {
			margin: 0 0 16px;
		}

		@media (max-width: $xl) {
			margin: 0 0 10px;
			font-size: 32px;
		}

		@media (max-width: $lg) {
			font-size: 24px;
		}
	}

	&__text {
		max-width: 262px;

		color: #fff;

		@media (max-width: $xl) {
			font-size: 18px;
		}
	}

	&__button {
		margin: 56px 0 0;

		@media (max-width: $xxl) {
			margin: 32px 0 0;
		}

		@media (max-width: $xl) {
			margin: 16px 0 0;
		}

		@media (max-width: $lg) {
			margin: 0;

			position: absolute;

			top: 0;
			left: 0;
		
			width: 100%;
			height: 100%;

			opacity: 0;
		}
	}
}