@import '../config';

.header {
	position: fixed;

	z-index: 1;
	
	width: 100%;

	color: #fff;

	&-scroll {
		background-color: #fff;

		color: #000;
	}

	&__container {
		padding: 0;
	}

	&__nav {
		width: 100%;
		max-width: 1830px;
		margin: 0 auto;

		flex: 0 0 64px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 237px;
		height: 98px;

		min-width: 315px;

		@media (max-width: $xxl) {
			min-width: 0;
		}

		@media (max-width: $xl) {
			display: none;
		}
	}

	&__link {
		display: block;

		width: 100%;
		height: 100%;

		padding: 16px 0 0 32px;

		background-image: url("../img/header__logo-white.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	&__menu {

		@media (max-width: $xl) {
			display: none;

			overflow: auto;

			&-active {
				position: absolute;
				
				top: 100%;
				left: 0;

				width: 100%;

				min-height: calc(100vh - 96px);
				overflow: auto;

				padding: 0 32px;

				display: block;

				background-color: #000;

				color: #fff;

				& .header__ul {
					display: block;

					li {
						padding: 32px 0 0;

						font-size: 32px;
					}
				}
			}
		}
	}

	&__ul {
		display: flex;
		justify-content: space-between;

		font-size: 18rem;
	}

	&__li {
		padding: 0 19px;

		@media (max-width: $xxl) {
			padding: 0 11px;
		}
	}

	&__body {
		display: none;

		width: 100%;

		border-top: 1px solid rgba( 256, 256, 256, 0.1);

		padding: 31px 0 0;

		margin: 180px 0 0;

		@media (max-width: $xl) {
			display: block;
		}
	}

	&__title {
		color: #666;
		font-size: 24px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}

	&__socials {
		margin: 36px 0 0;

		display: flex;
	}

	&__social {
		margin: 0 10px 0 0;

		img {
			height: 60px;
			width: auto;
		}
	}


	&__phone {
		font-size: 40rem;
		padding: 0 16px 0 0;

		min-width: 315px;

		@media (max-width: $xxl) {
			min-width: 247px;
			font-size: 33rem;
		}

		@media (max-width: $xl) {
			
			& a {
				display: block;
				padding: 21px 32px;
			}
		}

		@media (max-width: $md) {
			font-size: 22px;
			
			padding: 0;
			
			& a {
				padding: 0 16px 0 16px;
			}
		}
	}

	&__span {
		position: relative;

		&:after, &:before {
			content: "";

			position: absolute;

			left: 0;
		}

		&:after {
			top: -10px;
		}

		&:before {
			bottom: -10px;
		}
	}

	&__span, &__span:after, &__span:before {
		width: 100%;
		height: 2px;

		display: block;

		background-color: #fff;
	}

	&__wrapper {
		padding: 32px;

		display: none;

		@media (max-width: $xl) {
			display: block;
		}

		@media (max-width: $md) {
			padding: 8px;
		}
	}

	&__burger {

		width: 32px;
		height: 32px;

		padding: 15px 0 0;

		cursor: pointer;

		&-active {
			
			& .header__span {
				background-color: transparent;

				&:after {
					transform: rotate(45deg) translateY(-50%);
					top: 50%;
				}

				&:before {
					transform: rotate(-45deg) translateY(50%);
					bottom: 50%;
				}
			}
		}
	}

	&-scroll {
		background-color: #fff;

		color: #000;

		.header__link {
			display: block;

			width: 100%;
			height: 100%;

			background-image: url("../img/header__logo.png");
		}

		& .linkhover {

			&:hover {
				color: #999;
			}
		}

		& .header__span:after, & .header__span:before {
			background-color: #000;
		}

		@media (max-width: $xl) {
			background-color: #000;

			color: #fff;

			& .header__wrapper {
				background-color:#fff;

				color: #000;
			}

			& .header__span {
				background-color: #000;
			}

			& .header__burger-active .header__span {
				background-color: #fff;
			}
		}
	}
}