{% set title = 'Контакты' %}
{% extends 'template.html' %}
{% block content %}

<div class="map">
	<div class="map__wrapper">
		<div class="container">
			<div class="map__body padding">
				<div class="map__logo padding__item">
					<img src="img/header__logo-white.png" alt="image" class="">
				</div>
				<div class="map__image padding__item">
					<img src="img/2-layers.jpg" alt="image">
				</div>
				<div class="map__content padding__item">
					<div class="map__title">Как проехать</div>
					<div class="text map__text">г. Москва, ул. Большая Черемушкинская, д.34, 3 эт., офис 305</div>
					<div class="map__title">Как позвонить</div>
					<div class="text map__text">Тел.: 8 800 123 45 67</div>
					<div class="map__title">Как заказать</div>
					<div class="map__buttons">
						<a href="" class="button animation lines map__button">Рассчитать</a>
						<a href="" class="button animation map__button map__button_whatsapp"><span>Начать чат</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="legal">
	<div class="container">
		<div class="legal__wrapper">
			<h2 class="heading lines legal__title">Юридическая информация</h2>
			<p class="text legal__text">ООО «Кант», свид-во о регистраци №56465416546</p>
			<div class="legal__table">
				<ul class="legal__left">
					<li>
						<div class="text legal__name">ИНН:</div>
						<div class="text legal__value">1645216165131</div>
					</li>
					<li>
						<div class="text legal__name">ОГРН:</div>
						<div class="text legal__value">163134</div>
					</li>
					<li>
						<div class="text legal__name">ОКТМО:</div>
						<div class="text legal__value">646941647</div>
					</li>
					<li>
						<div class="text legal__name">ВДПО:</div>
						<div class="text legal__value">6456134641321</div>
					</li>
					<li>
						<div class="text legal__name">ГДЗ:</div>
						<div class="text legal__value">641613216461</div>
					</li>
					<li>
						<div class="text legal__name">CNN:</div>
						<div class="text legal__value">46+41654169874321321</div>
					</li>
				</ul>
				<ul class="legal__right">
					<li>
						<div class="text legal__name">ИНН:</div>
						<div class="text legal__value">1645216165131</div>
					</li>
					<li>
						<div class="text legal__name">ОГРН:</div>
						<div class="text legal__value">163134</div>
					</li>
					<li>
						<div class="text legal__name">ОКТМО:</div>
						<div class="text legal__value">646941647</div>
					</li>
					<li>
						<div class="text legal__name">ВДПО:</div>
						<div class="text legal__value">6456134641321</div>
					</li>
					<li>
						<div class="text legal__name">ГДЗ:</div>
						<div class="text legal__value">641613216461</div>
					</li>
					<li>
						<div class="text legal__name">CNN:</div>
						<div class="text legal__value">46+41654169874321321</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}