{% set title = 'Каталог' %}
{% extends 'template.html' %}
{% block content %}

<div class="details">
	<div class="details__wrapper">
		<div class="container">
			<div class="details__body padding">
				<div class="details__logo padding__item">
					<img src="img/header__logo-white.png" alt="image" class="">
				</div>
				<div class="details__image padding__item">
					<img src="img/loft02.jpg" alt="image">
				</div>
				<div class="details__content padding__item">
					<div class="details__title">Перегородки для спальни в стиле loft</div>
					<div class="text details__text">Производство и монтаж loft перегородок под ключ за 30 дней</div>
					<div class="details__buttons">
						<a href="" class="button animation lines details__button">Рассчитать</a>
						<a href="" class="button animation details__button details__button_whatsapp"><span>Начать чат</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="details--text">
	<div class="details--text__wrapper">
		<div class="container container-large">
			<div class="container">
				<h2 class="heading lines details--text__heading">Перегородки для спальни</h2>
				<p class="text details--text__text details--text__top">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
			</div>
			<div class="padding details--text__wide">
				<div class="padding__item details--text--wide__left">
					<div class="details--text__small">
						<p class="text details--text__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
						<div class="details--text__title">Онлайн-калькулятор раздвижных дверей</div>
						<p class="text details--text__text">Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
					</div>
				</div>
				<div class="padding__item details--text--wide__right">
					<div class="details--text__image">
						<img src="img/peregorodka-loft (1).jpg" alt="image">
					</div>
				</div>
			</div>
			<div class="container">
				<p class="text details--text__text details--text__bot">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
			</div>
		</div>
	</div>
</section>

{% include "includes/garants.html"  %}

{% include "includes/calculus.html"  %}

{% include "includes/photos.html"  %}

{% include "includes/about.html"  %}

{% include "includes/advantadges.html"  %}

{% include "includes/workflow.html"  %}

{% endblock %}