{% set title = 'Галерея' %}
{% extends 'template.html' %}
{% block content %}

<div class="gallery--header">
	<div class="gallery--header__wrapper">
		<div class="container">
			<div class="gallery--header__body">
				<div class="gallery__header__left">
					<h1 class="gallery--header__title">Фотографии наших работ</h1>
					<div class="text gallery--header__text">Более 500 довольных клиентов</div>
				</div>
				<div class="gallery__header__right">
					<a href="" class="button animation lines gallery--header__button">Рассчитать стоимость</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gallery--text">
	<div class="container">
		<p class="text gallery--text__text">Мы предлагаем большое разнообразие оконных и дверных систем из стали и архитектурной бронзы, способных соответствовать широкому спектру архитектурных стилей. Наши продукты идеально подходят для ремонта окон в исторических или исторических зданиях 19 и 20 веков и являются отличительным выбором для элитных жилых и бутик-коммерческих зданий.</p>
	</div>
</div>

{% endblock %}