{% set title = 'Главная' %}
{% extends 'template.html' %}
{% block content %}

<section class="hero">
	<div class="hero__background">
		<div class="container">
			<div class="hero__wrapper">
				<img src="img/logo.png" alt="image" class="hero__logo">
				<h1 class="hero__heading">Перегородки в стиле loft</h1>
				<p class="text hero__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
				<a href="" class="button lines animation text hero__button">Рассчитать стоимость</a>
			</div>
		</div>
	</div>
</section>

{% include "includes/garants.html"  %}

{% include "includes/offer.html"  %}

{% include "includes/gallery.html"  %}

{% include "includes/calculus.html"  %}

{% include "includes/photos.html"  %}

{% include "includes/about.html"  %}

{% include "includes/advantadges.html"  %}

{% include "includes/workflow.html"  %}

{% endblock %}