{% set title = 'Главная' %}
{% extends 'template.html' %}
{% block content %}

<section class="hero">
	<div class="hero__background">
		<div class="container">
			<div class="hero__wrapper">
				<img src="img/logo.png" alt="image" class="hero__logo">
				<h1 class="hero__heading">Перегородки в стиле loft</h1>
				<p class="text hero__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
				<a href="" class="button lines animation text hero__button">Рассчитать стоимость</a>
			</div>
		</div>
	</div>
</section>

<section class="garants">
	<div class="container">
		<h2 class="heading lines garants__heading">Гарантии</h2>
		<div class="garants__content">
			<div class="garants__left">
				<div class="cart garants__quality">
					<div class="cart__content">
						<img src="img/ico-warranty-quality.svg" alt="image" class="cart__image">
						<p class="text cart__text">Гарантия качественных работ</p>
					</div>
				</div>
				<div class="cart garants__price">
					<div class="cart__content">
						<img src="img/ico-warranty-price.svg" alt="image" class="cart__image">
						<p class="text cart__text">Гарантия низкой цены</p>
					</div>
				</div>
			</div>
			<div class="garants__right">
				<div class=" cart garants__service">
					<div class="cart__content">
						<img src="img/ico-warranty-service.svg" alt="image" class="cart__image">
						<p class="text cart__text">Бесплатное постгарантийное обслуживание до 6 месяцев</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="offer">
	<div class="container">
		<h2 class="heading lines offer__heading">Перегородки</h2>
		<p class="text offer__text">Мы предлагаем большое разнообразие оконных и дверных систем из стали и архитектурной бронзы, способных соответствовать широкому спектру архитектурных стилей. Наши продукты идеально подходят для ремонта окон в исторических или исторических зданиях 19 и 20 веков и являются отличительным выбором для элитных жилых и бутик-коммерческих зданий.</p>
	</div>
</section>

<section class="gallery">
	<div class="container container-large">
		<div class="gallery__wrapper">
			<div class="gallery__row gallery--row__container">
				<div class="gallery__col gallery__left">
					<div class="gallery--left__top gallery--row__item">
						<div class="layout gallery__layout gallery--item__wrapper">
							<img src="img/loft-1 (1).jpg" alt="image" class="gallery__image">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery--left__bot">
						<div class="gallery--left__row">
							<div class="gallery--left__left gallery--left--row__item gallery--row__item">
								<div class="layout gallery__layout gallery--item__wrapper">
									<img src="img/loft-1.jpg" alt="image" class="gallery__image">
									<div class="animation layout__wrapper">
										<div class="layout__body">
											<div class="layout__content">
												<div class="layout__title">Фото наших работ</div>
												<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
											</div>
											<a href="" class="button animation layout__button">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
							<div class="gallery--left__right gallery--left--row__item">
								<div class="gallery--left__interactive text gallery--interactive gallery--row__item">
									<div class="layout gallery__layout gallery--item__wrapper gallery--interactive__wrapper">
										<div class="gallery--interactive__body">
											<p class="text gallery--interactive__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
											<a href="" class="button lines animation gallery--interactive__button">Рассчитать стоимость</a>
										</div>
									</div>
								</div>
								<div class="gallery--left__mini gallery--row__item">
									<div class="layout gallery__layout gallery--item__wrapper">
										<img src="img/peregorodka-loft_copy.jpg" alt="image" class="gallery__image">
										<div class="animation layout__wrapper">
											<div class="layout__body">
												<div class="layout__content">
													<div class="layout__title">Фото наших работ</div>
													<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
												</div>
												<a href="" class="button animation layout__button">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery__col gallery__right">
					<div class="gallery--right__top gallery--row__item">
						<div class="layout gallery__layout gallery--item__wrapper">
							<img src="img/inter-business.jpg" alt="image" class="gallery__image">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery--right__bot gallery--row__item">
						<div class="layout gallery__layout gallery--item__wrapper">
							<img src="img/659832444_loft-peregorodka-s.jpg" alt="image" class="gallery__image">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/calculus.html"  %}

<section class="photos">
	<div class="container">
		<div class="photos__wrapper">
			<h2 class="heading lines photos__title">Фото наших работ</h2>
			<p class="text photos__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
		</div>
	</div>
	<div class="photos--main">
		<div class="container container-large">
			<div class="photos--main--row photos--main__top">
				<div class="photos--main--item photos--main__left photos--main--top__item">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/peregorodka-loft (1).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__right">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/loft-1 (2).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="photos--main--row photos--main__bot">
				<div class="photos--main--item photos--main__small photos--main--bot__item photos--main--bot__item_first">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/apartment-novono-nora-von-nordenskjoeld-img_a4b1478006112cc4_14-5448-1-1f523a1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="text photos--main--interactive photos--main--item__wrapper">
						<div class="photos--main--interactive__wrapper">
							<div class="photos--main--interactive__body">
								<p class="text photos--main--interactive__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
								<a href="" class="button lines animation photos--main--interactive__button">Рассчитать стоимость</a>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__big photos--main--bot__item photos--main--bot__item_middle">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/inter-business (1).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/apartment-n°four-novono-nora-von-nordenskjoeld-img_a4b1478006112cc4_14-5448-1-1f523a1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__small photos--main--bot__item photos--main--bot__item_last"">
					<div class="photos--main--interactive photos--main--item__wrapper photos--main--interactive_none">
						<div class="photos--main--interactive__wrapper">
							<div class="photos--main--interactive__body">
								<p class="text photos--main--interactive__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
								<a href="" class="button lines animation photos--main--interactive__button">Рассчитать стоимость</a>
							</div>
						</div>
					</div>
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/peregorodka-v-stile-loft-1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about">
	<div class="container">
		<div class="about__wrapper">
			<h2 class="heading lines about__heading">О компании KANT</h2>
		</div>
	</div>
	<div class="container container-large">
		<div class="about--main">
			<div class="about--main__wrapper">
				<div class="about--main__left">
					<div class="about--main__text">
						<p class="text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
						<p class="text">Закаленное стекло в 5 раз прочнее обычного, используем его даже в цельностеклянных перегородках без рамы. Выдерживает удар монтировки, кувалды, безопасно для детей. Закаленное стекло устойчиво к трещинам, а если его все же удалось разбить — рассыпается на мелкие осколки с неострыми краями.</p>
					</div>
					<div class="about--main__sub">
						<img src="img/loft-1_copy.jpg" alt="image">
					</div>
				</div>
				<div class="about--main__right">
					<img src="img/inter-business_copy.jpg" alt="image">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="about--sub">
			<div class="about--sub__wrapper">
				<div class="about--sub__left">
					<div class="about--sub__image">
						<img src="img/peregorodka-loft_copy.jpg" alt="image">
					</div>
				</div>
				<div class="about--sub__right">
					<div class="about--sub__text">
						<p class="text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="advantadges">
	<div class="container">
		<div class="advantadges__wrapper">
			<h2 class="heading lines advantadges__heading">Перегородки от KANT</h2>
			<div class="advantadges__content">
				<div class="advantadges__item">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-development-white.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Разрабатываем подробный проект с учётом всех нюансов</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item advantadges__item-dark">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-thumbup.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Лично контролируем качество изделия на каждом этапе</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-clock.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Приедем на выходных, в будние дни, вечером, днем или утром</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item advantadges__item-text">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<div class="heading advantadges__heading">Заголовок</div>
							<p class="text advantadges__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="workflow">
	<div class="container">
		<div class="workflow__wrapper">
			<h2 class="heading lines workflow__heading">Схема работы</h2>
			<p class="workflow__subheading">1. Будем знакомы, выберите удобный для Вас способ связи</p>
			<div class="padding workflow__content">
				<form action="" class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Заполните форму</div>
						<input type="text" placeholder="Ваше имя" class="workflow__input">
						<input type="text" placeholder="Ваш номер телефона" class="workflow__input">
						<input type="text" placeholder="Ваш e-mail" class="workflow__input">
						<textarea placeholder="Комментарий" class="workflow__textbox"></textarea>
						<label class="workflow__radio">
							<input type="checkbox">
							<p>Согласен на обработку <a href="">персональных данных</a></p>
						</label>
						<p class="workflow__brandcrowns">Ставя отметку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимаю условия Пользовательского соглашения</p>
						<a href="" class="button animation workflow__button">Заказать</a>
					</div>
				</form>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Воспользуйтесь калькулятором</div>
						<div class="workflow__icon">
							<img src="img/ico-calc.svg" alt="image">
						</div>
						<div class="text workflow__text">Такая функция, как онлайн- калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах.</div>
						<a href="" class="button animation workflow__button">Рассчитать стоимость</a>
					</div>
				</div>
				<div class="padding__item workflow__cart workflow__cart--whatsapp">
					<div class="workflow__item">
						<div class="workflow__title">Напишите нам в WhatsApp</div>
						<div class="workflow__icon">
							<img src="img/ico-whatsapp.svg" alt="image">
						</div>
						<div class="text workflow__text">Такая функция, как онлайн- калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах.</div>
						<a href="" class="button animation workflow__button">Начать чат</a>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Обсуждаем детали</div>
						<div class="workflow__icon">
							<img src="img/ico-conversation.svg" alt="image">
						</div>
						<div class="text workflow__text">В течение дня рассчитаем предварительную стоимость, договоримся о выезде на замер.</div>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Замеряем и изготавливаем</div>
						<div class="workflow__icon">
							<img src="img/ico-usp-development.svg" alt="image">
						</div>
						<div class="text workflow__text">2-4 недели от замера до монтажа. Доставка собственным автотранспортом.</div>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Доставляем и устанавливаем</div>
						<div class="workflow__icon">
							<img src="img/ico-drill.svg" alt="image">
						</div>
						<div class="text workflow__text">Монтаж выполняют компании, которые сотрудничают с нами на протяжении трех и более лет. Даем гарантию на работу и материалы.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}