@import "../config";

.gallery {
	margin: 92px 0 0;

	&__wrapper {}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	
	&__col {
		flex: 0 0 50%;

		@media (max-width: $xxxl) {
			flex: 0 0 100%;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
	}

	&__left {
		display: flex;
		flex-direction: column;
	}

	&--left__top {
		flex: 0 0 33.33%;
	}

	&--item__wrapper {}

	&--left__bot {
		flex: 1 0 66.66%;
	}

	&--left__row {
		display: flex;
		flex-wrap: wrap;
	}

	&--left--row__item {
		flex: 0 0 50%;

		@media (max-width: $md) {
			flex: 0 0 100%;
		}
	}


	&--left__left {}

	&--left__right {
		display: flex;
		flex-direction: column;

		@media (max-width: $md) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&--left__interactive {
		flex: 0 0 50%;

		@media (max-width: $md) {
			flex: 0 0 100%;
		}
	}

	&--left__mini {
		flex: 0 0 50%;

		.layout__title {
			margin: 0 0 20px;
		}

		.layout__button {
			margin: 46px 0 0;
		}

		.gallery--item__wrapper {
			height: 100%;
		}

		@media (max-width: $md) {
			flex: 0 0 100%;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&--right__top {
		flex: 0 0 66.66%;
	}

	&--right__bot {
		flex: 0 0 33.33%;
	}


	&--row__container {
		margin: -32px;

		@media (max-width: $xl) {
			margin: -16px;
		}
	}

	&--row__item {
		padding: 32px;

		border-radius: 6px;
		overflow: hidden;

		@media (max-width: $xl) {
			padding: 16px;
		}
	}

	&--interactive {
		flex-grow: 1;

		&_none {

			@media (max-width: $lg) {
				display: none;
			}
		}

		&__wrapper {
			height: 100%;

			border-radius: 6px;

			overflow: hidden;

			background-color: #000;

			display: flex;
			justify-content: center;
			align-items: center;

			@media (max-width: $md) {
				padding: 64px;
			}
		}

		&__body {
			width: 100%;
			max-width: 280px;
		}

		&__text {
			max-width: 262px;

			margin: 0 auto 77px;

			text-align: center;

			color: #fff;
		}

		&__button {
			color: #fff;
		}
	}

	&__layout {

		@media (min-width: $xxxl) {

			.layout__wrapper {
				padding: 32px;
			}

			.layout__title {
				font-size: 30px;

				margin: 0 0 16px;
			}

			.layout__button {
				margin: 32px 0 0;
			}
		}
	}
}

.pagination {
	margin: 95px 0 191px;

	@media (max-width: $lg) {
		margin: 35px 0 71px;
	}
}

.pagination__wrapper {
	display: flex;

	justify-content: center;
}

.pagination__body {
	margin: 0 auto;

	display: flex;

	width: 100%;
	max-width: 372px;

	justify-content: space-between;
}

.pagination__item {
	display: block;

	width: 60px;
	height: 60px;

	border-radius: 6px;
	border: 1px solid #555;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		border: 1.5px solid #000;

		.pagination__page {
			color: #000;
		}

		*:after, *:before {
			background-color: #000;
		}
	}

	@media (max-width: $md) {
		width: 50px;
		height: 50px;
	}
}

.pagination__slide {
	display: block;

	height: 24px;
	width: 12px;

	position: relative;

	&:before, &:after {
		content: "";

		position: absolute;

		display: block;

		top: 50%;
		left: 50%;

		background-color: #555;

		width: 1px;
		height: 15px;
	}

	&:before {
		transform: translateY( -84%) rotate( 45deg);
	}

	&:after {
		transform: translateY( -16%) rotate( -45deg);
	}

	&_next {
		transform: scaleX( -1);
	}
}

.pagination__page {
	color: #555;
}