@import '../config.scss';

.hero {
	width: 100%;
	min-height: 100vh;

	background-image: url("../img/hero__background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	color: #fff;

	display: flex;
	flex-direction: column;

	text-align: center;

	&__background {
		width: 100%;

		background-color: rgba( 0, 0, 0, 0.7);

		flex: 1 0 auto;

		display: flex;

		justify-content: center;
		align-items: center;
	}
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 25px 0 0;

		overflow: hidden;

		@media (max-width: $md) {
			margin: 406px 0 128px;
		}
	}

	.hero__heading {
		font-size: 52rem;

		margin: 0 0 23px;
	}

	.hero__text {
		flex: 1 1 auto;
		
		margin: 0 0 123px;
	}

	.hero__button {
	}
}