@import "../config";

.workflow {

	color: #000;

	padding: 128px 0;

	@media (max-width: $lg) {
		padding: 98px 0;
	}

	@media (max-width: $md) {
		padding: 64px 0;
	}

	&__wrapper {}
	&__heading {}

	&__subheading {
		font-size: 28px;
		font-weight: 700;
		
		text-align: center;

		margin: 87px 0 58px;


	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__cart {
		flex: 0 0 33.33%;

		@media (max-width: $xl) {
			flex: 0 0 50%;
		}

		@media (max-width: $lg) {
			flex: 0 0 100%;
		}
	}

	&__item {
		border-radius: 6px;
		border: 1px solid #999999;

		width: 100%;
		max-width: 416px;
		min-height: 651px;

		margin: 0 auto;
		
		padding: 32px;

		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 28px;
		font-weight: 700;

		text-align: center;

		margin: 0 0 25px;
	}

	&__input {
		margin: 0 0 21px;

		width: 100%;

		color: #000;
		font-size: 20px;

		padding: 16.3px 25px;

		border-radius: 6px;
		border: 1px solid #999;

		&:focus {
			border-color: #000;
		}
	}

	&__textbox {
		flex: 1 1 auto;

		width: 100%;
		min-height: 120px;

		margin: 0 0 16px;

		resize: none;

		color: #000;
		font-size: 20px;

		padding: 16.3px 25px;

		border-radius: 6px;
		border: 1px solid #999;

		&:focus {
			border-color: #000;
		}
	}

	&__radio {
		display: flex;
		align-items: center;

		margin: 0 0 9px;

		input {
			width: 20px;
			height: 20px;

			margin: 0 11px 0 0;
		}

		p {
			color: #000;

			font-size: 11px;
			font-weight: 400;

			text-align: left;

		}

		a {
			color: #000;

			text-decoration: underline;
		}
	}
	&__brandcrowns {
		margin: 0 0 16px;

		color: #999;

		font-size: 10px;
		font-weight: 400;
		text-align: justify;
	}

	&__button {
		width: 100%;

		text-align: center;

		border-color: #000;

		background-color: #000;

		padding-left: 20px;
		padding-right: 20px;

		color: #fff;

		&:hover {
			background-color: #fff;

			color: #000;
		}
	}

	&__icon {
		margin: 0 0 48px;

		flex: 1 1 auto;

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 120px;
			height: auto;
		}
	}
	
	&__text {
		margin: 0 0 30px;

		text-align: center;

		min-height: 200px;
	}

	&__cart--whatsapp {

		.workflow__item {
			border-color: #00bfa5;
		}

		.workflow__title {
			color: #00bfa5
		}

		.workflow__button {
			border-color: #00bfa5;

			background-color: #00bfa5;

			&:hover {
				background-color: #fff;

				color: #000;
			}
		}
	}
}