<section class="advantadges">
	<div class="container">
		<div class="advantadges__wrapper">
			<h2 class="heading lines advantadges__heading">Перегородки от KANT</h2>
			<div class="advantadges__content">
				<div class="advantadges__item">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-development-white.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Разрабатываем подробный проект с учётом всех нюансов</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item advantadges__item-dark">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-thumbup.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Лично контролируем качество изделия на каждом этапе</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<img src="img/ico-usp-clock.svg" alt="image" class="advantadges__logo">
							<p class="text advantadges__text">Приедем на выходных, в будние дни, вечером, днем или утром</p>
						</div>
					</div>
				</div>
				<div class="advantadges__item advantadges__item-text">
					<div class="advantadges__item--inner">
						<div class="advantadges__body">
							<div class="heading advantadges__heading">Заголовок</div>
							<p class="text advantadges__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>