<section class="calculus">
	<div class="container">
		<div class="calculus__wrapper">
			<div class="heading lines calculus__heading">Рассчитать стоимость</div>
			<p class="text calculus__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
			<form action="" class="padding calculus__form">
				<div class="padding__item calculus__item calculus__left">
					<div class="calculus__dots"></div>
					<div class="calculus__item-wrapper calculus__item-wrapper_slider calculus__slider">
						<div class="calculus__slider--item calculus--realization">
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-01.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value" data-holder-id="appending-realization-holder">Вариант 1</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-02.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 2</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-03.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 3</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-04.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 4</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-05.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 5</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-06.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 6</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-07.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 7</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-08.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 8</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-09.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 9</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper appending-item" data-holder-id="appending-realization-holder">
									<img src="img/ico-partition-10.svg" alt="image" class="realization--item__image appending-item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text appending-item__value realization--value">Вариант 10</p>
									<span class="radio__border"></span>
								</label>
							</div>
						</div>
						<div class="calculus__slider--item calculus--type">
							<div class="type--item">
								<div class="slick__arrow calculus--realization__arrow_prev"></div>
								<div class="slick__arrow calculus--realization__arrow_next"></div>
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image003.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value">Тип 1</p>
									<span class="radio__border"></span>
									<div class="type-item__small">трёхстворчатая за простенок</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image005.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 2</p>
									<span class="radio__border"></span>
									<div class="type-item__small">двухстворчатая за простенок</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image007.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 3</p>
									<span class="radio__border"></span>
									<div class="type-item__small">двухстворчатая в проёме</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image009.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 4</p>
									<span class="radio__border"></span>
									<div class="type-item__small">двухстворчатая</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image011.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 5</p>
									<span class="radio__border"></span>
									<div class="type-item__small">одностворчатая</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image013.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 6</p>
									<span class="radio__border"></span>
									<div class="type-item__small">четырёхстворчатая в разные стороны</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image015.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 7</p>
									<span class="radio__border"></span>
									<div class="type-item__small">четырёхстворчатая в проёме</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image017.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 8</p>
									<span class="radio__border"></span>
									<div class="type-item__small">трёхстворчатая в разные стороны</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image019.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 9</p>
									<span class="radio__border"></span>
									<div class="type-item__small">трёхстворчатая в проёме</div>
								</label>
							</div>
							<div class="type--item">
								<label class="type--item__wrapper appending-item" data-holder-id="appending-type-holder">
									<div class="type--item__image-wrapper">
										<img src="img/image021.png" alt="image" class="type--item__image">
									</div>
									<input type="radio" name="type" class="type--item__radio">
									<p class="type--item__text appending-item__value type--value">Тип 10</p>
									<span class="radio__border"></span>
									<div class="type-item__small">четырёхстворчатая в проёме</div>
								</label>
							</div>
						</div>
						<div class="calculus__slider--item calculus__slider--item_sizes sizes">
							<div class="padding sizes__wrapper">
								<div class="sizes__image padding__item">
									<div class="sizes-image__wrapper">
										<img src="img/ico-wall-frame.png" alt="image">
									</div>
								</div>
								<div class="sizes__form padding__item">
									<div class="sizes-form__wrapper">
										<div class="sizes-form__title">Заполните размеры</div>
										<p class="sizes-form__text">А — ширина проёма, мм</p>
										<input type="text" class="sizes-form__input sizes-form__input_a">
										<p class="sizes-form__text">B — высота проёма, мм</p>
										<input type="text" class="sizes-form__input sizes-form__input_b">
										<p class="sizes-form__text">C — высота потолка, мм</p>
										<input type="text" class="sizes-form__input sizes-form__input_c" disabled placeholder="не используется">
									</div>
								</div>
							</div>
						</div>
						<div class="calculus__slider--item calculus--color">
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-01.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value" data-holder-id="appending-color-holder">Белый</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-02.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value color--value">Чёрный</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-03.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value color--value">Лиственница светлая</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-04.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value color--value">Лиственница кремовая</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-05.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value color--value">Шампань</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="color--item">
								<label class="color--item__wrapper appending-item" data-holder-id="appending-color-holder">
									<span class="color--item__button">?</span>
									<img src="img/ico-color-06.svg" alt="image" class="color--item__image">
									<input type="radio" name="color" class="color--item__radio">
									<p class="color--item__text appending-item__value color--value">Серебро матовое</p>
									<span class="radio__border"></span>
								</label>
							</div>
						</div>
						<div class="calculus__slider--item calculus--glass">
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-01.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value" data-holder-id="appending-glass-holder">Белое</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-02.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value glass--value">Белое матовое</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-03.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value glass--value">Серое</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-04.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value glass--value">Серое матовое</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-05.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value glass--value">Бронзовое</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="glass--item">
								<label class="glass--item__wrapper appending-item" data-holder-id="appending-glass-holder">
									<span class="glass--item__button">?</span>
									<img src="img/ico-glass-06.png" alt="image" class="glass--item__image">
									<input type="radio" name="glass" class="glass--item__radio">
									<p class="glass--item__text appending-item__value glass--value">Бронзовое матовое</p>
									<span class="radio__border"></span>
								</label>
							</div>
						</div>
						<div class="calculus__slider--item calculus__slider--item_contacts-form">
							<div class="contacts-form__wrapper">
								<div class="contacts-form__title">Заполните форму</div>
								<div class="padding contacts-form__row">
									<div class="contacts-form__left padding__item">
										<div class="contacts-form__left__wrapper">
											<input type="text" placeholder="Ваше имя" class="contacts-form__input">
											<input type="text" placeholder="Ваш номер телефона" class="contacts-form__input">
											<input type="text" placeholder="Ваш e-mail" class="contacts-form__input">
										</div>
									</div>
									<div class="contacts-form__right padding__item">
										<div class="contacts-form__right__wrapper">
											<textarea placeholder="Комментарий" class="contacts-form__area"></textarea>
											<label class="contacts-form__radio">
												<input type="checkbox">
												<p>Согласен на обработку <a href="">персональных данных</a></p>
											</label>
											<p class="contacts-form__subtext">Ставя отметку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимаю условия Пользовательского соглашения</p>
											<button type="submit" name="calculus-form__button" href="" class="button animation calculus--preview__button contacts-form__button">Заказать</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="calculus-custom__dots">Шаг: 1/6 исполнение</div>
					<div class="calculus__buttons"></div>
				</div>
				<div class="padding__item calculus__item calculus__right">
					<div class="calculus--preview calculus__item-wrapper">
						<div class="calculus--preview__row calculus--preview__row_first">
							<div class="holder-border holder-border_active">
								<div class="calculus--preview__title">Исполнение:</div>
								<div class="calculus--preview__image" id="appending-image-holder">
								</div>
								<div class="calculus--preview__text calculus--preview__realization--value" id="appending-realization-holder">не выбрано</div>
							</div>
						</div>
						<div class="calculus--preview__row">
							<div class="holder-border">
								<div class="calculus--preview__title">Тип открывания:</div>
								<div class="calculus--preview__text" id="appending-type-holder">не выбрано</div>
							</div>
							<div class="holder-border">
								<div class="calculus--preview__title">Размеры и створки:</div>
								<div class="calculus--preview__text" id="appending-sizes-holder">не выбрано</div>
							</div>
							<div class="holder-border">
							<div class="calculus--preview__title">Цвет:</div>
								<div class="calculus--preview__text" id="appending-color-holder">не выбрано</div>
								</div>
							<div class="holder-border">
								<div class="calculus--preview__title">Стёкла:</div>
								<div class="calculus--preview__text" id="appending-glass-holder">не выбрано</div>
							</div>
						</div>
						<div class="calculus--preview__row calculus--preview__row_last">
							<div class="calculus--preview__title">Стоимость:</div>
							<div class="calculus--preview__text calculus--preview__count">7435 руб.</div>
							<button type="submit" name="calculus-form-button" href="" class="button animation calculus--preview__button">Заказать</button>
						</div>
					</div>
					<p class="calculus--preview__sub">*  расчетная стоимость является примерной, не является публичной офертой</p>
				</div>
			</form>
		</div>
	</div>
</section>