<section class="calculus">
	<div class="container">
		<div class="calculus__wrapper">
			<div class="heading lines calculus__heading">Рассчитать стоимость</div>
			<p class="text calculus__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
			<form action="" class="padding calculus__form">
				<div class="padding__item calculus__item calculus__left">
					<div class="calculus__dots"></div>
					<div class="calculus__item-wrapper calculus__item-wrapper_slider calculus__slider">
						<div class="calculus__slider--item calculus--realization">
							<div class="calculus--realization__arrow calculus--realization__arrow_prev"></div>
							<div class="calculus--realization__arrow calculus--realization__arrow_next"></div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-01.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 1</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-02.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 2</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-03.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 3</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-04.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 4</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-05.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 5</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-06.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 6</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-07.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 7</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-08.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 8</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-09.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 9</p>
									<span class="radio__border"></span>
								</label>
							</div>
							<div class="realiztion--item">
								<label class="realization--item__wrapper">
									<img src="img/ico-partition-10.svg" alt="image" class="realization--item__image">
									<input type="radio" name="realiztion" class="realization--item__radio">
									<p class="realization--item__text realization--value">Вариант 10</p>
									<span class="radio__border"></span>
								</label>
							</div>
						</div>
						<div class="calculus__slider--item">002</div>
						<div class="calculus__slider--item">003</div>
						<div class="calculus__slider--item">004</div>
						<div class="calculus__slider--item">005</div>
						<div class="calculus__slider--item">
							<button type="submit" name="calculus-form-button" href="" class="button animation calculus--preview__button">Заказать</button>
						</div>
					</div>
					<div class="calculus__buttons"></div>
				</div>
				<div class="padding__item calculus__item calculus__right">
					<div class="calculus--preview calculus__item-wrapper">
						<div class="calculus--preview__row calculus--preview__row_first">
							<div class="calculus--preview__title">Исполнение:</div>
							<div class="calculus--preview__image">
							</div>
							<div class="calculus--preview__text calculus--preview__realization--value">не выбрано</div>
						</div>
						<div class="calculus--preview__row">
							<div class="calculus--preview__title">Тип открывания:</div>
							<div class="calculus--preview__text">не выбрано</div>
							<div class="calculus--preview__title">Размеры и створки:</div>
							<div class="calculus--preview__text">не выбрано</div>
							<div class="calculus--preview__title">Цвет:</div>
							<div class="calculus--preview__text">не выбрано</div>
							<div class="calculus--preview__title">Стёкла:</div>
							<div class="calculus--preview__text">не выбрано</div>
						</div>
						<div class="calculus--preview__row calculus--preview__row_last">
							<div class="calculus--preview__title">Стоимость:</div>
							<div class="calculus--preview__text calculus--preview__count">7435 руб.</div>
							<button type="submit" name="calculus-form-button" href="" class="button animation calculus--preview__button">Заказать</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>