<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__row">
				<div class="footer__main">
					<img src="img/header__logo-white.png" alt="image" class="footer__logo">
					<a href="tel:88001234567" class="linkhover animation footer__number">8 800 123 45 67</a>
					<p class="footer__adress">г. Москва, ул. Большая Черемушкинская, д.34, 3 эт., офис 305</p>
					<p class="footer__copyright">© 2020 KANT — мастерская перегородок</p>
				</div>
				<div class="footer__information">
					<p class="footer__heading">Информация</p>
					<a href="" class="linkhover animation footer__text">Политика конфиденциальности</a>
					<a href="" class="linkhover animation footer__text">Обработка перональных данных</a>
					<p class="footer__heading footer__heading--socials">Мы в соцсетях</p>
					<div class="footer__socials">
						<a href="" class="footer__social">
							<img src="img/ico-social-youtube.svg" alt="image">
						</a>
						<a href="" class="footer__social">
							<img src="img/ico-social-instagram.svg" alt="image">
						</a>
						<a href="" class="footer__social">
							<img src="img/ico-social-vk.svg" alt="image">
						</a>
					</div>
				</div>
				<div class="footer__catalog">
					<p class="footer__heading">Каталог</p>
					<a href="" class="linkhover animation footer__text">Лофт перегородки</a>
					<a href="" class="linkhover animation footer__text">Перегородки в гостиную</a>
					<a href="" class="linkhover animation footer__text">Перегородки на кухню</a>
					<a href="" class="linkhover animation footer__text">Перегородки в спальню</a>
					<a href="" class="linkhover animation footer__text">Перегородки в гардеробную</a>
					<a href="" class="linkhover animation footer__text">Душевые перегородки</a>
				</div>
				<div class="footer__menu">
					<p class="footer__heading">Каталог</p>
					<a href="" class="linkhover animation footer__text">Лофт перегородки</a>
					<a href="" class="linkhover animation footer__text">Перегородки в гостиную</a>
					<a href="" class="linkhover animation footer__text">Перегородки на кухню</a>
					<a href="" class="linkhover animation footer__text">Перегородки в спальню</a>
					<a href="" class="linkhover animation footer__text">Перегородки в гардеробную</a>
					<a href="" class="linkhover animation footer__text">Душевые перегородки</a>
				</div>
			</div>
		</div>
	</div>
</footer>