<section class="garants">
	<div class="container">
		<h2 class="heading lines garants__heading">Гарантии</h2>
		<div class="garants__content">
			<div class="garants__left">
				<div class="cart garants__quality">
					<div class="cart__content">
						<img src="img/ico-warranty-quality.svg" alt="image" class="cart__image">
						<p class="text cart__text">Гарантия качественных работ</p>
					</div>
				</div>
				<div class="cart garants__price">
					<div class="cart__content">
						<img src="img/ico-warranty-price.svg" alt="image" class="cart__image">
						<p class="text cart__text">Гарантия низкой цены</p>
					</div>
				</div>
			</div>
			<div class="garants__right">
				<div class=" cart garants__service">
					<div class="cart__content">
						<img src="img/ico-warranty-service.svg" alt="image" class="cart__image">
						<p class="text cart__text">Бесплатное постгарантийное обслуживание до 6 месяцев</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>