<section class="offer">
	<div class="container">
		<h2 class="heading lines offer__heading">Перегородки</h2>
		<p class="text offer__text">Мы предлагаем большое разнообразие оконных и дверных систем из стали и архитектурной бронзы, способных соответствовать широкому спектру архитектурных стилей. Наши продукты идеально подходят для ремонта окон в исторических или исторических зданиях 19 и 20 веков и являются отличительным выбором для элитных жилых и бутик-коммерческих зданий.</p>
	</div>
</section>