<section class="photos">
	<div class="container">
		<div class="photos__wrapper">
			<h2 class="heading lines photos__title">Фото наших работ</h2>
			<p class="text photos__text">Такая функция, как онлайн-калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах. В то же время покупатель должен понимать, что результат вычислений вовсе не является идеальным.</p>
		</div>
	</div>
	<div class="photos--main">
		<div class="container container-large">
			<div class="photos--main--row photos--main__top">
				<div class="photos--main--item photos--main__left photos--main--top__item">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/peregorodka-loft (1).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__right">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/loft-1 (2).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="photos--main--row photos--main__bot">
				<div class="photos--main--item photos--main__small photos--main--bot__item photos--main--bot__item_first">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/apartment-novono-nora-von-nordenskjoeld-img_a4b1478006112cc4_14-5448-1-1f523a1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="text photos--main--interactive photos--main--item__wrapper">
						<div class="photos--main--interactive__wrapper">
							<div class="photos--main--interactive__body">
								<p class="text photos--main--interactive__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
								<a href="" class="button lines animation photos--main--interactive__button">Рассчитать стоимость</a>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__big photos--main--bot__item photos--main--bot__item_middle">
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/inter-business (1).jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/apartment-n°four-novono-nora-von-nordenskjoeld-img_a4b1478006112cc4_14-5448-1-1f523a1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="photos--main--item photos--main__small photos--main--bot__item photos--main--bot__item_last"">
					<div class="photos--main--interactive photos--main--item__wrapper photos--main--interactive_none">
						<div class="photos--main--interactive__wrapper">
							<div class="photos--main--interactive__body">
								<p class="text photos--main--interactive__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
								<a href="" class="button lines animation photos--main--interactive__button">Рассчитать стоимость</a>
							</div>
						</div>
					</div>
					<div class="photos--main--item__wrapper">
						<div class="layout photos--main--item__image">
							<img src="img/peregorodka-v-stile-loft-1.jpg" alt="image" class="">
							<div class="animation layout__wrapper">
								<div class="layout__body">
									<div class="layout__content">
										<div class="layout__title">Фото наших работ</div>
										<p class="text layout__text">Производство и монтаж loft перегородок под ключ за 30 дней</p>
									</div>
									<a href="" class="button animation layout__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>