<section class="workflow">
	<div class="container">
		<div class="workflow__wrapper">
			<h2 class="heading lines workflow__heading">Схема работы</h2>
			<p class="workflow__subheading">1. Будем знакомы, выберите удобный для Вас способ связи</p>
			<div class="padding workflow__content">
				<form action="" class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Заполните форму</div>
						<input type="text" placeholder="Ваше имя" class="workflow__input">
						<input type="text" placeholder="Ваш номер телефона" class="workflow__input">
						<input type="text" placeholder="Ваш e-mail" class="workflow__input">
						<textarea placeholder="Комментарий" class="workflow__textbox"></textarea>
						<label class="workflow__radio">
							<input type="checkbox">
							<p>Согласен на обработку <a href="">персональных данных</a></p>
						</label>
						<p class="workflow__brandcrowns">Ставя отметку, я даю свое согласие на обработку моих персональных данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимаю условия Пользовательского соглашения</p>
						<a href="" class="button animation workflow__button">Заказать</a>
					</div>
				</form>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Воспользуйтесь калькулятором</div>
						<div class="workflow__icon">
							<img src="img/ico-calc.svg" alt="image">
						</div>
						<div class="text workflow__text">Такая функция, как онлайн- калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах.</div>
						<a href="" class="button animation workflow__button">Рассчитать стоимость</a>
					</div>
				</div>
				<div class="padding__item workflow__cart workflow__cart--whatsapp">
					<div class="workflow__item">
						<div class="workflow__title">Напишите нам в WhatsApp</div>
						<div class="workflow__icon">
							<img src="img/ico-whatsapp.svg" alt="image">
						</div>
						<div class="text workflow__text">Такая функция, как онлайн- калькулятор раздвижных дверей, имеется на сайтах многих крупных компаний. Её цель - позволить клиенту самостоятельно рассчитать стоимость модели, чтобы получить представление о будущих затратах.</div>
						<a href="" class="button animation workflow__button">Начать чат</a>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Обсуждаем детали</div>
						<div class="workflow__icon">
							<img src="img/ico-conversation.svg" alt="image">
						</div>
						<div class="text workflow__text">В течение дня рассчитаем предварительную стоимость, договоримся о выезде на замер.</div>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Замеряем и изготавливаем</div>
						<div class="workflow__icon">
							<img src="img/ico-usp-development.svg" alt="image">
						</div>
						<div class="text workflow__text">2-4 недели от замера до монтажа. Доставка собственным автотранспортом.</div>
					</div>
				</div>
				<div class="padding__item workflow__cart">
					<div class="workflow__item">
						<div class="workflow__title">Доставляем и устанавливаем</div>
						<div class="workflow__icon">
							<img src="img/ico-drill.svg" alt="image">
						</div>
						<div class="text workflow__text">Монтаж выполняют компании, которые сотрудничают с нами на протяжении трех и более лет. Даем гарантию на работу и материалы.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>